<% this.title = '日历' %>
<% include header %>

<div class="padding">
  <table class="ui very basic center aligned table" style="table-layout: fixed">
    <thead>
      <tr>
        <th>#</th>
        <th>OJ</th>
        <th>比赛</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>时长</th>
      </tr>
    </thead>
    <tbody>
      <%
        let i = 0;
        for (let contest of contests) {
          ++i;
      %>
        <tr>
          <td><b><%= i %></b></td>
          <td><%= contest.oj.name %></td>
          <td><a href="<%= contest.url %>"><%= contest.name %></a></td>
          <td><%= contest.startTime %></td>
          <td><%= contest.endTime %></td>
          <td><%= contest.lastTime %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<% include footer %>
