<% this.title = '日历' %>
<% include header %>

<% const moment = require('moment') %>

<div class="padding">
  <table class="ui very basic center aligned table" style="table-layout: fixed">
    <thead>
      <tr>
        <th>#</th>
        <th>OJ</th>
        <th>比赛</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>时长</th>
      </tr>
    </thead>
    <tbody>
      <%
        let i = 0;
        for (let contest of contests) {
          ++i;
      %>
        <td><b><%= i %></b></td>
        <td><%= contest.oj.name %></td>
        <td><a href="<%= contest.url %>"><%= contest.name %></a></td>
        <td><%= moment(contest.startTime).format('MM 月 DD 日 HH:mm') %></td>
        <td><%= moment(contest.endTime).format('MM 月 DD 日 HH:mm') %></td>
        <td><%= lastTime %></td>
      <% } %>
    </tbody>
  </table>
</div>

<% include footer %>
