<% this.title = '日历' %>
<% include header %>

<%
  const moment = require('moment');

  parseMinutes(minutes) {
    const days = parseInt(minutes / 60 / 24), hours = parseInt(minutes / 60) % 24;
    minutes = minutes % 60;
    return [
      days && `${days} 天`,
      hours && `${hours} 小时`,
      minutes && `${minutes} 分钟`
    ].filter(str => !!str).join(' ');
  }
%>

<div class="padding">
  <table class="ui very basic center aligned table" style="table-layout: fixed">
    <thead>
      <tr>
        <th>#</th>
        <th>OJ</th>
        <th>比赛</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>时长</th>
      </tr>
    </thead>
    <tbody>
      <%
        let i = 0;
        for (let contest of contests) {
          ++i;
      %>
        <td><b><%= i %></b></td>
        <td><%= contest.oj %></td>
        <td><a href="<%= contest.url %>"><%= contest.name %></a></td>
        <td><%= moment(contest.startTime).format('MM 月 DD 日 HH:mm') %></td>
        <td><%= moment(contest.endTime).format('MM 月 DD 日 HH:mm') %></td>
        <td><%= parseMinutes(moment(contest.endTime).diff(contest.startTime, 'm')) %></td>
      <% } %>
    </tbody>
  </table>
</div>

<% include footer %>
